@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
#tbl_notice{
	width: 80%;
	border: 0;
	text-align: center;
}
#tbl_notice td{
	padding: 10px;
}
#tbl_notice td:nth-child(2){
	width: 50%;
}
#tbl_header{
	background-color: #f8f9fa;
}