@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #333;
}
h2{
	margin: 20px 20px;
}
#tbl_notice{
	width: 80%;
	border: 0;
	border-radius: 10px;
	text-align: center;
	margin-left: 20px;
}
#tbl_notice td{
	padding: 10px;
}
#tbl_notice td:nth-child(2){
	width: 50%;
}
#tbl_header{
	background-color: #e9eef2;
}
#tbl_content:hover{
	background-color: #e9eef2;
}

#tbl_write{
	margin-left: 20px;
	border-radius: 10px;
	border: 1px solid lightgray;
	background-color: white;
	padding: 20px;	
}
.tbl_title{
	width: 50px;
}
.tbl_btn input{
	border: none;
	border-radius: 12px;
	padding: 8px;
	width: 80px;
	margin: 10px 10px 0 0;
}
.tbl_btn input:hover{
	color: white;
	background-color: #3f80ea;
	font-weight: 600;
	cursor: pointer;
}
#tbl_read{
	width: 900px;
	padding: 20px;
	margin-left: 20px;
	border-radius: 10px;
	border: 1px solid lightgray;
}
.tbl_content{
	border: none;
}
